Source: libcsplit
Priority: extra
Maintainer: Joachim Metz <joachim.metz@gmail.com>
Build-Depends: debhelper (>= 9), dh-autoreconf, pkg-config
Standards-Version: 3.9.5
Section: libs
Homepage: https://github.com/libyal/libcsplit

Package: libcsplit
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: libcsplit-dbg
Description: Library to support cross-platform C split string functions
 libcsplit is a library to support cross-platform C split string functions.

Package: libcsplit-dbg
Architecture: any
Section: debug
Depends: libcsplit (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libcsplit
 Debugging symbols for libcsplit.

Package: libcsplit-dev
Section: libdevel
Architecture: any
Depends: libcsplit (= ${binary:Version}), ${misc:Depends}
Description: Header files and libraries for developing applications for libcsplit
 Header files and libraries for developing applications for libcsplit.

